.modal {
        text-align: center;
}

@media screen and (min-width: 768px) {
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}

.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}
.input
{
margin-top:5px;
}
.select
{
margin-top:5px;
}
#layout
{
margin-left: 50px
}
body {
font-family: 'Trebuchet', sans-serif !important;
}
div#loading {
width: 300px;
height: 300px;
display: none;
background: url(/static/images/Ellipsis-1s-200px.gif) no-repeat;
background-position: center;
cursor: wait;
}