{% extends 'layout.html' %}

{% block content %}
<style>
    img
    {
    width:100%;
    }
    .freq
    {
    width:50%;
    text-align: center;
    }

</style>
<script>
function updateparam(name, val) {
          document.getElementById(name).value=val;
        }

</script>
<script type="text/javascript">
function getPar()
{
    var param1 = '{{parameters_2.get('view')}}';
    var param2 = '{{parameters_2.get('direction')}}';
    document.getElementById(param1).selected = "selected";
    document.getElementById(param2).selected = "selected";
}
</script>

<div>

    <div style="margin-bottom: 30px;"> <!-- show statistics for model-->
        <mark>event source</mark>: {{option['file']}}
        <mark>model type</mark>: {{option['model']}}
        {% for key, value in stat.items() %}
            <mark>{{key}}</mark> : {{value}}
        {% endfor %}
    </div>
<div class = "container">

    <div class = "row">
        <div class = "col">
            <center>
                <h2>
                    Translucent Event Log
                </h2>
            </center>
        </div>
        <div class = "col">
            <center>
                <h2>
                    Normal Event Log
                </h2>
            </center>
        </div>
    </div>

    <div class = "row" style="margin-bottom:50px">
        <div id = "focal" class = "col">
            <div class = "panzoom">
                            <img src = {{img_file_path}}>
            </div>
            <script>
                    (function() {
                      var $section = $('#focal');
                      var $panzoom = $section.find('.panzoom').panzoom();
                      $panzoom.parent().on('mousewheel.focal', function( e ) {
                        e.preventDefault();
                        var delta = e.delta || e.originalEvent.wheelDelta;
                        var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                        $panzoom.panzoom('zoom', zoomOut, {
                          animate: false,
                          focal: e
                        });
                      });
                    })();
            </script>
        </div>
        <div id = "focal_2" class = "col">
            <div class = "panzoom">
                            <img src = {{img_file_path_2}}>
            </div>
            <script>
                    (function() {
                      var $section = $('#focal_2');
                      var $panzoom = $section.find('.panzoom').panzoom();
                      $panzoom.parent().on('mousewheel.focal_2', function( e ) {
                        e.preventDefault();
                        var delta = e.delta || e.originalEvent.wheelDelta;
                        var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                        $panzoom.panzoom('zoom', zoomOut, {
                          animate: false,
                          focal_2: e
                        });
                      });
                    })();
            </script>
        </div>
    </div>
    {% if option.model in ['sbr', 'ts'] %}
        <div class = "row">
                <div class = "col"> <!-- option for translucent event log -->
                    <div class = "container" style="padding-bottom:10px;"> <!-- options for transition system -->
                        <form action = "/compare" method = "post" enctype="multipart/form-data">
                            <button type="button" class = "btn btn-primary" data-toggle="modal" data-target="#tsoption" style="display:block; margin:0 auto;">
                                Change Option
                            </button>
                            <div class = "modal fade" id = "tsoption">
                                <div class = "modal-dialog">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            Translucent Event Log Parameter
                                        </div>
                                        <div class = "modal-body">
                                            <div>
                                            afreq
                                            <div class = "row">
                                                <div class = "col">
                                                    <input type = "range" name="afreq" class="custom-range" min = "0" max = {{max_thresh['afreq']}}
                                                    value = {{parameters.get('afreq_thresh')}} step = "1" onchange="updateparam(this.name, this.value);">
                                                </div>
                                                <div class = "col">
                                                    <input type="text" class="freq" id="afreq" value={{parameters.get('afreq_thresh')}}>
                                                </div>
                                            </div>
                                            </div>
                                            <div>
                                                sfreq
                                                <div class = "row">
                                                    <div class = "col">
                                                        <input type = "range" name="sfreq" class="custom-range" min = "0" max = {{max_thresh['sfreq']}}
                                                       value = {{parameters.get('sfreq_thresh')}} step = "1"onchange="updateparam(this.name, this.value);">
                                                    </div>
                                                    <div class = "col">
                                                         <input type="text" class = "freq" id="sfreq" value={{parameters.get('sfreq_thresh')}}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                            {% for key, value in option.items() %}
                                            <input type="hidden" name={{key}} value = {{value}}>
                                            {% endfor %}
                                                <input type="hidden" name="PARAM_KEY_WINDOW" value={{parameters_2.get('window')}}>
                                                <input type = "hidden" name="PARAM_KEY_DIRECTION" value = {{parameters_2.get('direction')}}>
                                                <input type = "hidden" name="PARAM_KEY_VIEW" value = {{parameters_2.get('view')}}>
                                            </div>
                                        </div>
                                        <div class= "modal-footer">
                                            <input class = "btn btn-outline-info" type = "submit" value = "show">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <div class = "col"> <!-- option for normal event log -->
                    <div class = "container" style="padding-bottom:10px;"> <!-- options for transition system -->
                            <form action = "/compare" method = "post" enctype="multipart/form-data">
                                <button type="button" class = "btn btn-primary" data-toggle="modal" data-target="#tsoption_2" style="display:block; margin:0 auto;">
                                    Change Option
                                </button>
                                <div class = "modal fade" id = "tsoption_2" >
                                    <div class = "modal-dialog">
                                        <div class = "modal-content">
                                            <div class = "modal-header">
                                                Normal Event Log Parameter
                                            </div>
                                            <div class = "modal-body">
                                                <div class = "form-group">
                                                    window size
                                                    <div class = "row" style = "margin-right:0px; margin-left:0px; margin-bottom:10px;">
                                                    <input type = "number" id = "window" name="PARAM_KEY_WINDOW" value = {{parameters_2.get('window')}}>
                                                    </div>
                                                </div>
                                                <div>
                                                    view
                                                    <div class = "row" style = "margin-right:0px; margin-left:0px; margin-bottom:10px;">
                                                        <select class="browser-default custom-select" id="view" name = "PARAM_KEY_VIEW">
                                                            <option id = "sequence" value="sequence" label="sequence"></option>
                                                            <option id = "set" value = "set" label="set"></option>
                                                            <option id = "multiset" value = "multiset" label="multiset"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div>
                                                    direction
                                                    <div class = "row" style = "margin-right:0px; margin-left:0px; margin-bottom:10px;">
                                                        <select class="browser-default custom-select" id="direction" name = "PARAM_KEY_DIRECTION">
                                                            <option id = "forward" value = 'forward' label="forward"></option>
                                                            <option id = "backward"value = "backward" label="backward"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div>
                                                {% for key, value in option.items() %}
                                                <input type="hidden" name={{key}} value = {{value}}>
                                                {% endfor %}
                                                    <input type = "hidden" name = "afreq" value = {{parameters.get('afreq_thresh')}}>
                                                    <input type = "hidden" name = "sfreq" value = {{parameters.get('sfreq_thresh')}}>
                                                </div>
                                                <script type = "text/javascript">
                                                    getPar();
                                                </script>
                                            </div>
                                            <div class= "modal-footer">
                                                <input class = "btn btn-outline-info" type = "submit" value = "show">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
        </div>

    {% endif %}
    <div class = "row"> <!-- quality measure -->
        <div class = "col">
            {%if result is not none%}
             <table class = "table" width = 200px>
                {% for key, value in result.items() %}
                     <tr>
                         <th> {{ key }} </th>
                        <td> {{ value|round(3) }} </td>
                     </tr>
                {% endfor %}
                {%endif%}
            </table>
        </div>
        <div class = "col">
            {%if result_2 is not none%}
            <table class="table" width = 200px>
                    {% for key, value in result_2.items() %}
                         <tr>
                             <th> {{ key }} </th>
                            <td> {{ value|round(3) }} </td>
                         </tr>
                    {% endfor %}
                    {%endif%}
            </table>
        </div>
    </div>


</div>
</div>


{% endblock %}