

{% extends 'layout.html' %}

{% block content %}
<style>
    .disc
    {
        padding-bottom:10px;
    }
</style>
<div>
    <form action = "/{{title}}" method = "post" enctype="multipart/form-data">
        <div>
            <h4 style = "margin-top:20px">Eventlog File</h4>
            <div class = "disc">
                Select event log file to analyze
            </div>
            <div style="width:300px;">
                <select class="browser-default custom-select" name = "file">
                    {% for file in files %}
                    <option value = {{file}} label = {{file}}></option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div>
            <h4 style = "margin-top:20px">Log Type</h4>
            <div class = "disc">
                Select type of event log file (if it is normal event log: XES / if it is already translucent event log: XES++)
            </div>
            <div  class="btn-group btn-group-toggle" data-toggle="buttons">

                <label class = "btn btn-info">
                    <input type = "radio" name = "file_type" value = "xes">xes
                </label>
                <label class = "btn btn-info">
                    <input type = "radio" name = "file_type" value = "xes++">xes++
                </label>
            </div>
        </div>
        <div>
            <h4 style = "margin-top:20px"> Model Type</h4>
            <div class = "disc">
                Select model type to show
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class = "btn btn-info">
                    <input type = "radio" name = "model" value = "ts">transition system
                </label>
                <label class = "btn btn-info">
                <input type = "radio" name = "model" value = "sbr">state based region
                </label>
                <label class = "btn btn-info">
                <input type = "radio" name = "model" value = "alpha">alpha miner
                </label>
                <label class = "btn btn-info">
                <input type = "radio" name = "model" value = "induct" onclick = "ShowOriginalLog()">DFG miner
                </label>
            </div>
            <div>
                <input type = "hidden" name = "afreq" value = "0">
                <input type = "hidden" name = "sfreq" value = "0">
                <input type = "hidden" name = "PARAM_KEY_VIEW" value = 'sequence'>
                <input type = "hidden" name = "PARAM_KEY_WINDOW" value = "2">
                <input type = "hidden" name = "PARAM_KEY_DIRECTION" value = 'forward'>
            </div>
            <div style="margin-top:30px">
                <input class = "btn btn-outline-info" type = "submit" value = "show" onclick="loading();"  >
            </div>
        </div>
    </form>
</div>
{% endblock %}