<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <!--CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!--Scripts for zoom in and out-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.panzoom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
    {% if title %}
      <title>Translucent Event Log - {{ title }}</title>
    {% else %}
      <title>Translucent Event Log</title>
    {% endif %}
    <style>
      #layout
      {
      margin-left: 50px
      }
      body {
    font-family: 'Trebuchet', sans-serif !important;
      }
    </style>
  </head>
  <body>

    <header style="padding-bottom:20px">
      <nav class = "navbar bg-info navbar-dark">
        <a class = "navbar-brand" href = "#">
          <h2>Translucent Event Log</h2>
        </a>
        <ul class = "nav navbar-nav">
          {%if url_for(request.endpoint) == '/' or url_for(request.endpoint).find("success")>-1 %}
          <li class = "nav-item active">
            {%else%}
            <li class = "nav-item">
          {%endif%}
            <a class = "nav-link" href="{{ url_for('file_upload') }}">file upload</a>
          </li>
          {%if url_for(request.endpoint).find("show")>-1%}
          <li class = "nav-item active">
            {%else%}
            <li class = "nav-item">
          {%endif%}
            <a class = "nav-link" href="{{ url_for('show_import') }}">show model</a>
          </li>

          {%if url_for(request.endpoint).find("compare")>-1%}
          <li class = "nav-item active">
            {%else%}
            <li class = "nav-item">
          {%endif%}
            <a class = "nav-link" href="{{ url_for('comp_import') }}">compare model</a>
          </li>
        </ul>
      </nav>
    </header>
    <main style="margin_top:20px" id = 'layout' role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
  <!--Scripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
  <div class="se-pre-con"></div>
</html>